[Unit]
Description=InfluxDB

[Service]
User=influxdb
Group=influxdb
Type=simple
LimitNOFILE=4096
ExecStart=/usr/bin/influxdb -config=/etc/influxdb.conf

[Install]
WantedBy=multi-user.target
